/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
    margin: 0px;
    font-size: 16px;
}

#header {
    background-color: darkred;
    padding: 5px 5px 4px 10px;
}


#logo {
    color: white;
    font-size: 1.2em;
    float: left;
    width: 200px;
    vertical-align: bottom;
    font-weight: bold;
    padding-bottom: 2px;    
}

#menus {
    vertical-align: bottom;
    text-align: right;
    color: red;
    
}

#menus a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.6em;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 8px;
    padding-top: 4px;
}

#menus a:hover {
    background-color: red;
}

#contents {
    padding-left: 10px;
    padding-right: 10px;
}
