<ul id="nav">
  <% if @current_user %>
  <li><%= link_to 'ダッシュボード', root_path %></li>
  <li><%= link_to "部屋", new_admin_room_path %>
    <% if entering_rooms.present? %>
    <ul>
      <% entering_rooms.each do |room| %>
        <li><%= link_to room.title, public_room_url(room) %></li>
      <% end %>
    </ul>
    <% end %>
  </li>
  <% end %>
</ul>